<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.miniIntra.MiniMapper">
	<select id="isSawon" resultType="int">
		select ifnull(level,0) from sawon
		where sabun=#{sabun} and pwd=#{pwd}
	</select>
	<select id="list" resultType="kr.co.miniIntra.BoardVo">
		select * from board
		where grp=#{grp}
		order by id desc
		limit #{index},10
	</select>
	<insert id="writeOk">
		insert into board
		(sabun, title, content, grp, writeday)
		values (#{sabun}, #{title}, #{content}, #{grp}, now())
	</insert>
	<select id="getChong" resultType="int">
		select ceil(count(*)/10) from board
		where grp=#{grp}
	</select>
	<select id="content" resultType="kr.co.miniIntra.BoardVo">
		select * from board where id=#{id}
	</select>
	<delete id="delete">
		delete from board where id=#{id}
	</delete>
	<select id="getSawon" resultType="kr.co.miniIntra.SawonVo">
		select * from sawon where sabun like concat(#{depart},'%')
	</select>
	<insert id="memoOk">
		insert into memo
		(seSabun,reSabun,title,content,fname,writeday) values
		(#{seSabun}, #{reSabun}, #{title}, #{content}, #{fname}, now())
	</insert>
	<select id="getRe" resultType="kr.co.miniIntra.MemoVo">
		select * from memo where reSabun=#{sabun} order by writeday desc
		limit #{index},#{pageSize}
	</select>
	<select id="getReChong" resultType="int">
		select ceil(count(*)/#{pageSize}) from memo
		where reSabun=#{sabun}
	</select>
	
	<select id="getSend" resultType="kr.co.miniIntra.MemoVo">
		select * from memo where seSabun=#{sabun} order by writeday desc
		limit #{seIndex},#{pageSize}
	</select>
		<select id="getSeChong" resultType="int">
		select ceil(count(*)/#{pageSize}) from memo
		where seSabun=#{sabun}
	</select>
	<select id="getMemo" resultType="kr.co.miniIntra.MemoVo">
		select * from memo where id=#{id}
	</select>
</mapper>