<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.miniIntra.MiniMapper">
	<select id="isSawon" resultType="int">
		select ifnull(level,0) from sawon
		where sabun=#{sabun} and pwd=#{pwd}
	</select>
	<select id="list" resultType="kr.co.miniIntra.BoardVo">
		select * from board
		where grp=#{grp}
		order by id desc
		limit #{index},10
	</select>
	<insert id="writeOk">
		insert into board
		(sabun, title, content, grp, writeday)
		values (#{sabun}, #{title}, #{content}, #{grp}, now())
	</insert>
	<select id="getChong" resultType="int">
		select ceil(count(*)/10) from board
		where grp=#{grp}
	</select>
	<select id="content" resultType="kr.co.miniIntra.BoardVo">
		select * from board where id=#{id}
	</select>
	<delete id="delete">
		delete from board where id=#{id}
	</delete>
	<select id="getSawon" resultType="kr.co.miniIntra.SawonVo">
		select * from sawon where sabun like concat(#{depart},'%')
	</select>
	<insert id="memoOk">
		insert into memo
		(seSabun,reSabun,title,content,fname,writeday) values
		(#{seSabun}, #{reSabun}, #{title}, #{content}, #{fname}, now())
	</insert>
	<select id="getRe" resultType="kr.co.miniIntra.MemoVo">
		select * from memo where reSabun=#{sabun} and delstate=0
		order by writeday desc
		limit #{index},#{pageSize}
	</select>
	<select id="getReChong" resultType="int">
		select ceil(count(*)/#{pageSize}) from memo
		where reSabun=#{sabun} and delstate=0
	</select>
	
	<select id="getSend" resultType="kr.co.miniIntra.MemoVo">
		select * from memo where seSabun=#{sabun} and delstate=0
		order by writeday desc
		limit #{seIndex},#{pageSize}
	</select>
		<select id="getSeChong" resultType="int">
		select ceil(count(*)/#{pageSize}) from memo
		where seSabun=#{sabun} and delstate=0
	</select>
	<select id="getMemo" resultType="kr.co.miniIntra.MemoVo">
		select * from memo where id=#{id}
	</select>
	<update id="deleteMemo">
		update memo set delstate=1
		where id in
		<foreach item="id" collection="list" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>
	<insert id="toWork">
	<![CDATA[
		insert into commute(sabun,toWork,writeday,state)
		values (#{sabun},now(),curdate(), if(curtime()<='09:00:00',1,2))
	]]>
	</insert>
	<update id="toHome">
	<![CDATA[
		update commute set
		toHome=now(),
		state=if(TIMESTAMPDIFF(hour,toWork,now())>=8,3,
		      if(TIMESTAMPDIFF(hour,toWork,now())>=4,4,5))
		where sabun=#{sabun} and writeday=curdate()
	]]>
	</update>
	<select id="isWork" resultType="string">
		select count(*) from commute
		where sabun=#{sabun} and writeday=curdate()
	</select>
</mapper>